<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

<style type="text/css">
      body {margin: 10px 0; padding: 0 10px; background: #ffffff; font-size: 13px;}
      table {border-collapse: collapse;}
      td {font-family: arial, sans-serif; color: #333333;}

      @media only screen and (max-width: 480px) {
        body,table,td,p,a,li,blockquote {
          -webkit-text-size-adjust:none !important;
        }
        table {width: 100% !important;}
		table tr td{width:100% !important;}

        .responsive-image img {
          height: auto !important;
          max-width: 100% !important;
          width: 100% !important;
        }
		
	.responsive-icon img{ height: auto !important;
          max-width: 50% !important;
          width: 100% !important;}	
		
      }
    </style>


</head>

<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" >
  <tr>
    <td><table width="600" border="0" cellspacing="0" align="center" cellpadding="0" style="border:1px solid #333333;">
            <tr>
            <td bgcolor="#f5f5f5" style="padding:5px 5px 5px 10px;">  
            <table width="25%" border="0" cellpadding="0" cellspacing="0" align="left">
            <tr><td>&nbsp;</td></tr>
             <tr>    
   
            

    <td  style="font-size: 0; line-height: 0;" height="auto" align="center" class="responsive-icon"><a href="http://www.proptiger.com/" target="_blank"><img src="http://cdn.proptiger.com/images/proptiger_logo.gif" width="130" height="43" border="0" /></a></td>
   </tr>         
        
            </table>
            
            <table border="0" cellpadding="0" cellspacing="0" align="right" width="40%">
              
              <tr><td>&nbsp;</td></tr>
                  <tr>
                    <td style="text-align:center;"><div style="font-size: 15px; font-family: Arial, Helvetica, sans-serif;  color:#f16d20; line-height:30px;"> Get the mobile app <a href="https://itunes.apple.com/in/app/proptiger-real-estate-property/id935244607?ls=1&mt=8"><img src="http://cdn.proptiger.com/images/appple_app.gif"  width="36" height="37" border="0" align="absmiddle" />&nbsp;</a> <a href="https://play.google.com/store/apps/details?id=com.proptiger"><img src="http://cdn.proptiger.com/images/andriod_app.gif" width="36" height="37" border="0" align="absmiddle" /></a></div>                                            
              </td></tr></table>
                      
                      
                      
                  
           
       
       </td></tr>
    
      
   
  <tr>
    <td style="font-size: 13; padding:10px; line-height: 20px; text-align:left;">
    
    Hi ${leadOffer.lead.client.fullName.substring(0,1).toUpperCase()}${leadOffer.lead.client.fullName.substring(1)},<br /><br />
    Greetings from Proptiger.com and thank you for using Proptiger services.<br />
    ${leadOffer.agent.fullName}, our trusted broker has suggested properties as per your property requirements of  <b>

#foreach (${requirement} in ${leadOffer.lead.requirements})
	#if (${requirement.project})    
	       	${requirement.project.builder.name} ${requirement.project.name}, ${requirement.project.address}, 
	      #if(${requirement.bedroom})	
		${requirement.bedroom} BHK,
	      #end
	#elseif(${requirement.locality})
		${requirement.locality.label}
		#if(${requirement.bedroom})	
		${requirement.bedroom} BHK,
	      	#end
	#end
#end
#if(${leadOffer.lead.minSize} == 0 || ${leadOffer.lead.maxSize} == ${leadOffer.lead.minSize})
	${leadOffer.lead.maxSize} sq ft,
#else 	
	${leadOffer.lead.minSize} - ${leadOffer.lead.maxSize} sq ft, 
#end
    #if(${leadOffer.lead.minBudget})	
	#set($minBudgetInLacs = ${leadOffer.lead.minBudget}/100000.0)
	#if($minBudgetInLacs > 100)
	#set($minBudgetInCrores = $minBudgetInLacs/100.0)
	$velocityUtility.roundToTwoDecimal($minBudgetInCrores) Cr.
	#else
	$velocityUtility.roundToTwoDecimal($minBudgetInLacs) Lacs
	#end
  #end

#if(${leadOffer.lead.maxBudget} && ${leadOffer.lead.minBudget})
-
#end

  #if(${leadOffer.lead.maxBudget})		
	#set($maxBudgetInLacs = ${leadOffer.lead.maxBudget}/100000.0)
	#if($maxBudgetInLacs > 100)
	#set($maxBudgetInCrores = $maxBudgetInLacs/100.0)
	$velocityUtility.roundToTwoDecimal($maxBudgetInCrores) Cr.
	#else
	$velocityUtility.roundToTwoDecimal($maxBudgetInLacs) Lacs.
	#end
    #end 	
  </b>
 You can find the property details below.
    
    </td>
  </tr>
  
  
#if (${leadOffer.agent.contactNumbers} && (!${leadOffer.agent.contactNumbers.isEmpty()}))
  <tr>
    <td bgcolor="#f5f5f5" style="font-size: 13; padding:10px; line-height: 20px; text-align:left;">
    
    <table width="68%" border="0" cellpadding="0" cellspacing="0" align="left">
    <tr><td height="5"></td></tr>
             <tr>
    <td style="font-size:12px;"><b>Suggested by Broker:  ${leadOffer.agent.fullName}</b></td>
  </tr>         
        
            </table>
            
            <table border="0" cellpadding="0" cellspacing="0" align="right" width="28%">
              
             
                  <tr>
                    <td style="text-align:center;" class="responsive-image"	><div style="font-size: 13px; font-family: Arial, Helvetica, sans-serif;  color:#3f3f3f; line-height:30px;"><strong>Phone: +91 ${leadOffer.agent.contactNumbers.iterator().next().contactNumber}</strong></div>
                      
                      
                    </td></tr></table>
    
    </td>
  </tr>
  
#end
  <tr>
  <td>&nbsp;</td>
  </tr>

#foreach (${offeredListing} in ${leadOffer.offeredListings})  
   
#if (${offeredListing.listing})
 <tr>
  <td>
  
  <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="border-radius:5px; border:1px solid #dddddd;">
  <tr>
    <td bgcolor="#efefef" colspan="4" style="font-family:Arial, Helvetica, sans-serif; color:#3f3f3f; border-radius:5px; padding:10px; font-size:13px;"><span href="#" style="font-size:16px;">${offeredListing.listing.property.project.builder.name} ${offeredListing.listing.property.project.name}</span></td>
    </tr>
  <tr>
    <td width="173" style="padding:10px;">Locality: </td>
    <td colspan="3" style="padding:10px;"><strong>${offeredListing.listing.property.project.locality.label}, ${offeredListing.listing.property.project.locality.suburb.city.label}</strong></td>
    </tr>
  <tr>
    <td style="padding:10px;">Configuration:</td>
    <td width="156" style="padding:10px;"><strong>${offeredListing.listing.property.unitName}</strong></td>
    <td width="91" style="padding:10px;">Size </td>
    <td style="padding:10px;"><strong>${offeredListing.listing.property.size.intValue()}  ${offeredListing.listing.property.measure}</strong></td>    
    
  </tr>
  <tr>
	#if (${offeredListing.listing.currentListingPrice.price}) 
    <td width="91" style="padding:10px;">Asking Price:</td>
    <td style="padding:10px;"><strong>

			#if (${offeredListing.listing.currentListingPrice.price} != 0)	
			      #set($priceInLacs = ${offeredListing.listing.currentListingPrice.price}/100000.0)			      
			#else
			#set($priceInLacs = ${offeredListing.listing.currentListingPrice.pricePerUnitArea}*${offeredListing.listing.property.size}/100000.0)

		#if(${offeredListing.listing.currentListingPrice.otherCharges})
			#set($priceInLacs = $priceInLacs + ${offeredListing.listing.currentListingPrice.otherCharges}/100000.0)	
		#end	
	
			#end
				#if($priceInLacs > 100)
				#set($priceInCrores = $priceInLacs/100.0)
				$velocityUtility.roundToTwoDecimal($priceInCrores) Cr.					
			      	#else		
				$velocityUtility.roundToTwoDecimal($priceInLacs) Lacs </strong></td>
		  	      	#end
		
	#end
   			     #if(${offeredListing.listing.floor}) 	
    <td width="91" style="padding:10px;">Floor </td>
    <td style="padding:10px;"><strong>${offeredListing.listing.floor}</strong></td>
    #end
  </tr>






#set($a = 1)
#set($powerBackup = 0)
#set($carParking = 0)
#set($clubHouse = 0)
#foreach (${listingAmenity} in ${listingObjectWithAmenities.get(${offeredListing.listing.id}).listingAmenities})

    #if(${listingAmenity.amenity.amenityMaster.amenityId} == 13)		
    	#set($powerBackup = 1)
    #end		

    #if(${listingAmenity.amenity.amenityMaster.amenityId} == 17)		
    	#set($carParking = 1)
    #end

    #if(${listingAmenity.amenity.amenityMaster.amenityId} == 4)		
    	#set($clubHouse = 1)
    #end		

#end  

	    <tr>    
	    <td style="padding:10px;">Power Backup</td>
	    <td style="padding:10px;"><strong>#if ($powerBackup == 1) 
					Available 
				      #else
					Not Available
				      #end	
            </strong>
 </td>
	    <td style="padding:10px;">Parking</td>
	    <td style="padding:10px;"><strong>#if ($carParking == 1) 
					Available 
				      #else
					Not Available
				      #end</strong></td>
	    </tr>

	    <tr>    
	    <td style="padding:10px;">Club Membership</td>
	    <td style="padding:10px;"><strong>#if ($clubHouse == 1) 
					Available 
				      #else
					Not Available
				      #end	
            </strong>
 </td>
	    
	    </tr>	

#set($otherFlag = 0)
#foreach (${listingAmenity} in ${listingObjectWithAmenities.get(${offeredListing.listing.id}).listingAmenities})

#if(${listingAmenity.amenity.amenityMaster.amenityId} != 13 && ${listingAmenity.amenity.amenityMaster.amenityId} != 17 && ${listingAmenity.amenity.amenityMaster.amenityId} != 4)    
  #if($otherFlag == 0)
    <tr>
    <td style="padding:10px;">Other Special Features:</td><td colspan="2">
    <strong>${listingAmenity.amenity.amenityDisplayName}</strong>
    #set($otherFlag = 1)
  #else
    <strong>,${listingAmenity.amenity.amenityDisplayName}</strong>
  #end
#end
#end
#if($otherFlag == 1)
  </td></tr>
#end

</table>

  
  
</td>
  </tr>
  
   <tr>
  <td>&nbsp;</td>
  </tr>
#end
#end

   <tr>
  <td style="padding:10px; line-height:20px;">The broker will get in touch with you shortly, to discuss your requirements in details.  <br /><br />

</td>
</tr>
<tr>
  <td align="center">
    <span style="background-color:#f6921e;padding:10px;color:white;">OFFER: Buy a property through PropTiger and get Rs 5000 on homeloan</span>
<br />
<br />

</td>
</tr>
<tr>
  <td>





Yours sincerely, <br />

The PropTiger Family<br />
Web: <a href="#" style="color:#333;">http://www.proptiger.com</a><br />
Email: <a href="#" style="color:#333;">customer.service@proptiger.com</a> |  Call: +91 92788 92788 <br /><br />




 </td>
  </tr>
  
   <tr>
            <td bgcolor="#f6921e" style="padding:10px; color:#333333;" align="center">    D -12, Ist Floor, Sector 3, Noida 201301 (U.P.) | Help Desk: +91 92788 92788        
</td>
  </tr>
  

  
</table>
 
</body>
</html>
