<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
 
<style type="text/css">
      body {margin: 10px 0; padding: 0 10px; background: #ffffff; font-size: 13px;}
      table {border-collapse: collapse;}
      td {font-family: arial, sans-serif; color: #333333;}
 
      @media only screen and (max-width: 480px) {
        body,table,td,p,a,li,blockquote {
          -webkit-text-size-adjust:none !important;
        }
        table {width: 100% !important;}
        table tr td{width:100% !important;}
 
        .responsive-image img {
          height: auto !important;
          max-width: 100% !important;
          width: 100% !important;
        }
         
    .responsive-icon img{ height: auto !important;
          max-width: 50% !important;
          width: 100% !important;}     
         
      }
    </style>
 
 
</head>
 
<body>
 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" >
  <tr>
    <td>
        <table width="600" border="0" cellspacing="0" align="center" cellpadding="0" style="border:1px solid #333333;">
            <tr>
            <td bgcolor="#f5f5f5" style="padding:5px 5px 5px 10px;">  
            <table width="25%" border="0" cellpadding="0" cellspacing="0" align="left">
            <tr><td>&nbsp;</td></tr>
             <tr>
    <td  style="font-size: 0; line-height: 0;" height="auto" align="center" class="responsive-icon"><a href="http://www.proptiger.com/" target="_blank"><img src="http://cdn.proptiger.com/images/proptiger_logo.gif" width="130" height="43" border="0" /></a></td>
  </tr>         
        
            </table>
            
            <table border="0" cellpadding="0" cellspacing="0" align="right" width="40%">
              
              <tr><td>&nbsp;</td></tr>
                  <tr>
                    <td style="text-align:center;" ><div style="font-size: 15px; font-family: Arial, Helvetica, sans-serif;  color:#f16d20; line-height:30px;"> Get the mobile app <img src="http://cdn.proptiger.com/images/appple_app.gif"  width="36" height="37" border="0" align="absmiddle" />&nbsp; <img src="http://cdn.proptiger.com/images/andriod_app.gif" width="36" height="37" border="0" align="absmiddle" /></div>
                      
                      
                    </td></tr></table>
                      
      </td></tr>
    
              <tr>
            <td style="font-size: 13; padding:10px; line-height: 20px; text-align:left;">
            
            Hi ${leadOffer.lead.client.fullName.substring(0,1).toUpperCase()}${leadOffer.lead.client.fullName.substring(1)},<br /><br />
            As per your requirement, I would like to propose few more properties. Please find the property details below.
            
            </td>
          </tr>
               
  
             <tr>
  <td>&nbsp;</td>
  </tr>
 
#foreach (${offeredListing} in ${leadOffer.offeredListings})  
   
#if (${offeredListing.listing})
 <tr>
  <td>
  
  <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="border-radius:5px; border:1px solid #dddddd;">
  <tr>
    <td bgcolor="#efefef" colspan="4" style="font-family:Arial, Helvetica, sans-serif; color:#3f3f3f; border-radius:5px; padding:10px; font-size:13px;"><span href="#" style="font-size:16px;">${offeredListing.listing.property.project.builder.name} ${offeredListing.listing.property.project.name}</span></td>
    </tr>
  <tr>
    <td width="173" style="padding:10px;"><strong>Locality:</strong> </td>
    <td colspan="3" style="padding:10px;">${offeredListing.listing.property.project.locality.label}, ${offeredListing.listing.property.project.locality.suburb.label}, ${offeredListing.listing.property.project.locality.suburb.city.label}</td>
    </tr>
  <tr>
    <td style="padding:10px;"><strong>Configuration: </strong></td>
    <td width="156" style="padding:10px;">${offeredListing.listing.property.unitName}</td>
    <td width="91" style="padding:10px;"><strong>Size</strong> </td>
    <td style="padding:10px;">${offeredListing.listing.property.size.intValue()}  ${offeredListing.listing.property.measure}</td>    
    
  </tr>
  <tr>
	#if (${offeredListing.listing.currentListingPrice.price}) 
    <td width="91" style="padding:10px;"><strong>Asking Price:</strong> </td>
    <td style="padding:10px;">

			#if (${offeredListing.listing.currentListingPrice.price} != 0)	
			      #set($priceInLacs = ${offeredListing.listing.currentListingPrice.price}/100000.0)			      
			#else
			#set($priceInLacs = ${offeredListing.listing.currentListingPrice.pricePerUnitArea}*${offeredListing.listing.property.size}/100000.0)

		#if(${offeredListing.listing.currentListingPrice.otherCharges})
			#set($priceInLacs = $priceInLacs + ${offeredListing.listing.currentListingPrice.otherCharges}/100000.0)	
		#end	
	
			#end
				#if($priceInLacs > 100)
				#set($priceInCrores = $priceInLacs/100.0)
				$velocityUtility.roundToTwoDecimal($priceInCrores) Cr.					
			      	#else		
				$velocityUtility.roundToTwoDecimal($priceInLacs) Lacs </td>
		  	      	#end
		
	#end
   			     #if(${offeredListing.listing.floor}) 	
    <td width="91" style="padding:10px;"><strong>Floor</strong> </td>
    <td style="padding:10px;">${offeredListing.listing.floor}</td>#end
  </tr>






#set($a = 1)
#set($powerBackup = 0)
#set($carParking = 0)
#set($clubHouse = 0)
#foreach (${listingAmenity} in ${listingObjectWithAmenities.get(${offeredListing.listing.id}).listingAmenities})

    #if(${listingAmenity.amenity.amenityMaster.amenityId} == 13)		
    	#set($powerBackup = 1)
    #end		

    #if(${listingAmenity.amenity.amenityMaster.amenityId} == 17)		
    	#set($carParking = 1)
    #end

    #if(${listingAmenity.amenity.amenityMaster.amenityId} == 4)		
    	#set($clubHouse = 1)
    #end		

#end  

	    <tr>    
	    <td style="padding:10px;"><strong>Power Backup</strong></td>
	    <td style="padding:10px;">#if ($powerBackup == 1) 
					Available 
				      #else
					Not Available
				      #end	
 </td>
	    <td style="padding:10px;"><strong>Parking</strong></td>
	    <td style="padding:10px;">#if ($carParking == 1) 
					Available 
				      #else
					Not Available
				      #end</td>
	    </tr>

	    <tr>    
	    <td style="padding:10px;"><strong>Club Membership</strong></td>
	    <td style="padding:10px;">#if ($clubHouse == 1) 
					Available 
				      #else
					Not Available
				      #end	
 </td>
	    
	    </tr>	

</table>

  
  
</td>
  </tr>
  
   <tr>
  <td>&nbsp;</td>
  </tr>
#end
#end
   <tr>
  <td style="padding:10px; line-height:20px;">Let me know if you need any more details for this project.<br /><br />
 
Best Regards, <br /><br />
 
${leadOffer.agent.fullName} <br />

#if (${leadOffer.agent.contactNumbers} && (!${leadOffer.agent.contactNumbers.isEmpty()}))
Phone: +91 ${leadOffer.agent.contactNumbers.iterator().next().contactNumber} |  
#end
  ${leadOffer.agent.email}<br />
 
 </td>
  </tr>
  
   <tr>
            <td bgcolor="#f6921e" style="padding:10px; color:#333333;" align="center">    D -12, Ist Floor, Sector 3, Noida 201301 (U.P.) | Help Desk: +91 92788 92788        
</td>
  </tr>
  
 </td>
 </tr>
  
</table>
 
</body>
</html>
