Proptiger | Resale Listing Interest –“ ${sellYourPropertyData.leadUser} would like to sell 
#if($sellYourPropertyData.isBroker == false) 
 ${sellYourPropertyData.projectName} in ${sellYourPropertyData.cityName}”
#else
 Property”
#end