#parse("./mailtemplate/velocity_global.vm")
<html>
<head>
<title>Proptiger | New Unmatched Property added in database –“<propertyName>” in <projectCity></title>
</head>

<body>
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border:1px solid #333;">
       <tr>
          <td>
             <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                   <td width="120"><img src="${IMG_SERVER}images/proptiger_logo.jpg" width="120" height="144" /></td>
                   <td width="456"><img src="${IMG_SERVER}images/header_bg.jpg" width="360" height="144" /></td>
                   <td width="24">
                      <table width="120" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                            <td height="25" bgcolor="#333333" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#fff;">${currentDateTime}</td>
                         </tr>
                         <tr>
                            <td><img src="${IMG_SERVER}images/header_bg_rt.jpg" width="120" height="119" /></td>
                         </tr>
                      </table>
                   </td>
                </tr>
             </table>
             <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                   <td width="15" bgcolor="#e3e3e3">&nbsp;</td>
                   <td style="font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; padding:10px; color:#333;">
                      Hi Team,<br /><br />
					 A new unmatched property has been added to the Proptiger system by the user ${UnmatchedProjectDetails.userName} at ,${currentDateTime}. The details of the property are as following:<br /><br />
					   <strong>Client Name:</strong>$UnmatchedProjectDetails.userName <PropertyName><br />
					   <strong>Client's Email Id:</strong>$UnmatchedProjectDetails.userEmail <PropertyName><br />
					   #if($UnmatchedProjectDetails.contact != 0)
					  	<strong>Client's Contact Number:</strong>$UnmatchedProjectDetails.contact <PropertyName><br /><br />
					   #else
					   #end
					   <strong>Project Name:</strong>${UnmatchedProjectDetails.projectName} <PropertyName><br />
					   <strong>Project City:</strong> ${UnmatchedProjectDetails.projectCity}<br />
					   <strong>Locality:</strong> ${UnmatchedProjectDetails.locality}<br /><br />
						Thanks and Regards,<br /><br />
					  
                   </td>
                   <td width="15" bgcolor="#e3e3e3">&nbsp;</td>
                </tr>
             </table>
             <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                   <td bgcolor="#f79633" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000; text-align:center; padding:5px;">D -12, Ist Floor, Sector 3, Noida 201301 (U.P.) | Help Desk: +91 92788 92788</td>
                </tr>
             </table>
          </td>
       </tr>
    </table>
</body>
</html>
