<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="columbus"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/proptiger/columbus/columbus_test.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/var/log/proptiger/columbus/columbus_test-%d{yyyy-MM-dd}.log.gz
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<append>true</append>
		<encoder>
			<pattern>[%d{HH:mm:ss.SSS} %thread %-5level %C:%L] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{HH:mm:ss.SSS} %thread %-5level %C:%L] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.proptiger.columbus.typeahead.">
		<level value="DEBUG" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="columbus" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
