#parse("./localitytemplate/utilityFunctions.vm")
 In ${locality.suburb.city.label}, ${locality.label}  is one of the popular localities in suburb ${locality.suburb.label}.  	
 #if($nearByLocalities)
	#set($nearByLocalityNameList = [])
	#populateNearByLocalityNames
	#if($nearByLocalityNameList && $nearByLocalityNameList.size() > 0)
		#listOfStringToSentence($nearByLocalityNameList) #isOrAre($nearByLocalityNameList) located close to ${locality.label}.  
	#end
#end
#topBuilderInLocality

#if($popularProjects && $popularProjects.size() > 0)
	#if($popularProjects.size()==1)
		 Key project offering properties in this locality #isOrAre($popularProjects) #projectByBuilderSentence($popularProjects).
	#else
		 Some of the key projects offering properties in this locality #isOrAre($popularProjects) #projectByBuilderSentence($popularProjects).
	#end 
#end
 

#set($minSize = 0)
#set($maxSize = 0)
#set($counter = 0)
#set($lowestPricePropery = "")
#populateUnitTypeAndUnitNameList($properties)
#foreach($property in $properties)
	#if($property.size)
		#if($counter == 0)
			#set($minSize = $property.size)
			#set($maxSize = $property.size)
			#set($counter = 1)
			#set($lowestPricePropery = $property)
		#elseif($property.size  < $minSize)
			#set($minSize = $property.size)
		#elseif($property.size > $maxSize)
			#set($maxSize = $property.size)
		#end
	#end
	#if($lowestPricePropery && $lowestPricePropery.budget && $property.budget && $property.budget < $lowestPricePropery.budget)
		#set($lowestPricePropery = $property)
	#end
#end
#if($minSize > 0 && $maxSize > 0 && $maxSize > $minSize)
	 The property in ${locality.label} are build in areas ranging $numberFormatter.format($minSize) sq ft to $numberFormatter.format($maxSize) sq ft.  
	with bedroom configurations of #listOfStringToSentence($unitNamesStringList).  
#end
#localityPriceChangeInMonth_type2($locality)
#localityAmenityTypeDesc

#if($lowestPricePropery && $lowestPricePropery.budget)
	Property starting at #makePriceUserReadable($lowestPricePropery.budget) are available in ${locality.label} on Proptiger.  
#end
#if($locality.projectStatusCount)
	#projectByStatus($locality)
#end
#if($locality.avgRatingsByCategory && $locality.avgRatingsByCategory.overallRating)
	#localityAverageRating($locality). 
#end 
#if($locality.totalReviews && $locality.totalReviews > 0)
	We have $locality.totalReviews user reviews which can give you more ideas about ${locality.label}.   
#end
#localityProjectDescWithLowestAndHighestPrice($locality)