#parse("./localitytemplate/utilityFunctions.vm")
#set($minSize = 0)
#set($maxSize = 0)
#set($counter = 0)
#set($lowestPricePropery = "")
#populateUnitTypeAndUnitNameList($properties)
#foreach($property in $properties)
	#if($property.size)
		#if($counter == 0)
			#set($minSize = $property.size)
			#set($maxSize = $property.size)
			#set($counter = 1)
			#set($lowestPricePropery = $property)
		#elseif($property.size  < $minSize)
			#set($minSize = $property.size)
		#elseif($property.size > $maxSize)
			#set($maxSize = $property.size)
		#end
	#end
	#if($lowestPricePropery && $lowestPricePropery.budget && $property.budget && $property.budget < $lowestPricePropery.budget)
		#set($lowestPricePropery = $property)
	#end
#end
One of the most comfortable areas in ${locality.suburb.city.label}, 
${locality.label} has some great #listOfStringToSentence($unitTypesStringList) for sale. 
#if($nearByLocalities)
	#set($nearByLocalityNameList = [])
	#populateNearByLocalityNames
	#if($nearByLocalityNameList && $nearByLocalityNameList.size() > 0)
		${locality.label}, surrounded by developed areas such as #listOfStringToSentence($nearByLocalityNameList). 
	#end
#end	
#if($topBuilders)
	#populateBuilderNameList($topBuilders)
	#if($popularBuildersNameList)
		Overall $popularBuildersNameList.size() Builders are providing 
		 #listOfStringToSentence($unitTypesStringList) projects for sale in ${locality.label}. 
		 The top builders #isOrAre($popularBuildersNameList) #listOfStringToSentence($popularBuildersNameList). 
	#end
#end
#if(${locality.projectStatusCount.get("Launch")})
	${locality.label} is booming as there are ${locality.projectStatusCount.get("Launch")}
	 new projects launched 
	 #if(${locality.projectStatusCount.get("Pre Launch")})
	 	and ${locality.projectStatusCount.get("Pre Launch")} upcoming projects,   
	 #end
	 in the locality in last few months. 
#end
#if($minSize > 0 && $maxSize > 0 && $maxSize > $minSize)
	Properties in ${locality.label} offer #listOfStringToSentence($unitNamesStringList)   
	 options with built up area ranging between $numberFormatter.format($minSize) sq ft to $numberFormatter.format($maxSize) sq ft. 
#end
#if($lowestPricePropery && $lowestPricePropery.project && $lowestPricePropery.project.avgPricePerUnitArea)
	The average price of $lowestPricePropery.unitType for sale in ${locality.label} is 
	$numberFormatter.format($lowestPricePropery.project.avgPricePerUnitArea)/sq ft. 
#end
#localityAmenityTypeDesc
#if($locality.projectStatusCount)
	#projectByStatus($locality)
#end
#localityAvgRatingWithHighestAmenityRating($locality)
#localityProjectDescWithLowestAndHighestPrice($locality)