#parse("./localitytemplate/utilityFunctions.vm")
#set($minSize = 0)
#set($maxSize = 0)
#set($counter = 0)
#set($lowestPricePropery = "")
#populateUnitTypeAndUnitNameList($properties)
#foreach($property in $properties)
	#if($property.size)
		#if($counter == 0)
			#set($minSize = $property.size)
			#set($maxSize = $property.size)
			#set($counter = 1)
			#set($lowestPricePropery = $property)
		#elseif($property.size  < $minSize)
			#set($minSize = $property.size)
		#elseif($property.size > $maxSize)
			#set($maxSize = $property.size)
		#end
	#end
	#if($lowestPricePropery && $lowestPricePropery.budget && $property.budget && $property.budget < $lowestPricePropery.budget)
		#set($lowestPricePropery = $property)
	#end
#end
One of the most comfortable areas in ${locality.suburb.city.label}, 
${locality.label} has some great #listOfStringToSentence($unitTypesStringList) for sale. 
#if($nearByLocalities)
	#set($nearByLocalityNameList = [])
	#foreach($nearLocality in $nearByLocalities)
		#set($temp = $nearByLocalityNameList.add($nearLocality.label))
	#end
	#if($nearByLocalityNameList && $nearByLocalityNameList.size() > 0)
		${locality.label}, surrounded by developed areas such as #listOfStringToSentence($nearByLocalityNameList). 
	#end
#end	
#if($topBuilders)
	#populateBuilderNameList($topBuilders)
	#if($popularBuildersNameList)
		Overall $popularBuildersNameList.size() Builders are providing 
		 #listOfStringToSentence($unitTypesStringList) projects for sale in ${locality.label}. 
		 The top builders #isOrAre($popularBuildersNameList) #listOfStringToSentence($popularBuildersNameList). 
	#end
#end
#if(${locality.projectStatusCount.get("Launch")})
	${locality.label} is booming as there are ${locality.projectStatusCount.get("Launch")}
	 new projects launched in the locality in last few months. 
#end
#if($minSize > 0 && $maxSize > 0 && $maxSize > $minSize)
	Properties in ${locality.label} offer #listOfStringToSentence($unitNamesStringList)   
	 options with built up area ranging between $numberFormatter.format($minSize) sq ft to $numberFormatter.format($maxSize) sq ft. 
#end
#if($lowestPricePropery && $lowestPricePropery.pricePerUnitArea)
	The average price of $lowestPricePropery.unitType for sale in ${locality.label} is $lowestPricePropery.pricePerUnitArea/sq ft. 
#end
#if($locality.amenityTypeCount)
	#set($schoolsList = [])
	#set($hospitalsList = [])
	#set($metroStationList = [])
	${locality.label} has many well known schools and Hospitals. 
	#populateAmenitiesList($amenities)
	#if($schoolsList)
		Key Schools close to ${locality.label} #isOrAre($schoolsList) #listOfStringToSentence($schoolsList).  
	#end
	#if($hospitalsList)
		Key hospitals to this locality #isOrAre($hospitalsList) #listOfStringToSentence($hospitalsList).  
	#end
	#if($metroStationList)
		Locality is close to #listOfStringToSentence($metroStationList).  
	#end
#end
#if($locality.projectStatusCount)
	#projectByStatus($locality)
#end
#if($locality.avgRatingsByCategory)
	#set($highestRatedAmenity = "")
	#set($highestRating = 0)
	#foreach($key in $locality.avgRatingsByCategory.keySet())
		#if($locality.avgRatingsByCategory.get($key) > $highestRating)
			$highestRating = $locality.avgRatingsByCategory.get($key)
			$highestRatedAmenity = $key
		#end
	#end
	#if($locality.avgRatingsByCategory.overallRating && $locality.avgRatingsByCategory.overallRating)
		${locality.label} has an average rating of $locality.avgRatingsByCategory.overallRating
		#if($highestRating > 0)
			with highest rating of $highestRating for $highestRatedAmenity
		#end
		. 
	#end
#end
#if($popularProjects)
	#set($project1 = $popularProjects.get(0))
	#set($project2 = $popularProjects.get(1))
	#if($project1)
		One #popularProjectSentence(${locality.label} $project1)
		#if($project2)
			Another #popularProjectSentence(${locality.label} $project2)
		#end
	#end
#end
