#parse("./localitytemplate/utilityFunctions.vm")
${locality.label} is one of the top most locality in ${locality.suburb.city.label} located in suburb ${locality.suburb.label}. 
#if($nearByLocalities)
	#set($nearByLocalityNameList = [])
	#populateNearByLocalityNames
	#if(${nearByLocalityNameList})
		${locality.label} is surrounded by #singularOrPlural("area" $nearByLocalityNameList) #listOfStringToSentence($nearByLocalityNameList). 
	#end
#end

#if($topBuilders)
	#populateBuilderNameList($topBuilders)
	#if($popularBuildersNameList.size() > 0)
		There are at least $popularBuildersNameList.size() different builders constructing their projects in ${locality.label}.  
	 	Some of the key builders #isOrAre($popularBuildersNameList) #listOfStringToSentence($popularBuildersNameList) in ${locality.label}.  
	#end
#end

#set($minSize = 0)
#set($maxSize = 0)
#set($counter = 0)
#set($lowestPricePropery = "")
#set($unitTypeCountMap = {})
#populateUnitTypeAndUnitNameList($properties)
#foreach($property in $properties)
	#if($property.size)
		#if($counter == 0)
			#set($minSize = $property.size)
			#set($maxSize = $property.size)
			#set($counter = 1)
			#set($lowestPricePropery = $property)
		#elseif($property.size  < $minSize)
			#set($minSize = $property.size)
		#elseif($property.size > $maxSize)
			#set($maxSize = $property.size)
		#end
	#end
	#if($lowestPricePropery && $lowestPricePropery.budget && $property.budget && $property.budget < $lowestPricePropery.budget)
		#set($lowestPricePropery = $property)
	#end
	#if($unitTypeCountMap.get($property.unitType))
		#set($count = $unitTypeCountMap.get($property.unitType))
		#set($count = $count + 1)
		#set($temp = $unitTypeCountMap.put($property.unitType, $count))
	#else
		#set($temp = $unitTypeCountMap.put($property.unitType, 1))
	#end	
#end
#if($minSize > 0 && $maxSize > 0  && $maxSize > $minSize)
	Property in ${locality.label} has built up areas ranging from $numberFormatter.format($minSize) sq ft to $numberFormatter.format($maxSize) sq ft. 
#end
Projects offer #listOfStringToSentence($unitTypesStringList) with #listOfStringToSentence($unitNamesStringList) configurations. 	
#if($unitTypeCountMap)
	#set($counter = 0)
	#set($unitTypeAndCountList = [])
	#foreach($entry in $unitTypeCountMap.entrySet())
		#set($str = $entry.value + " " + $entry.key)
		#set($temp = $unitTypeAndCountList.add($str))
	#end
	#if($unitTypeAndCountList)
		${locality.label} has #listOfStringToSentence($unitTypeAndCountList) projects. 
	#end
#end
#localityPriceChangeInMonth_type1($locality)
#if($locality.amenityTypeCount)
	#set($schoolsList = [])
	#set($hospitalsList = [])
	${locality.label} has many well known schools and Hospitals. 
	#foreach( $amenity in $amenities )
		#if($amenity.localityAmenityTypes.name=="school")
			#set($temp = $schoolsList.add($amenity.name))
		#end
		#if($amenity.localityAmenityTypes.name=="hospital")
		 	#set($temp = $hospitalsList.add($amenity.name))
		#end
	#end
	#if($schoolsList)
		Popular schools in ${locality.label} #isOrAre($schoolsList) #listOfStringToSentence($schoolsList). 
	#end
	#if($hospitalsList)
		Popular hospitals in ${locality.label} #isOrAre($hospitalsList) #listOfStringToSentence($hospitalsList). 
	#end
#end

#if($unitTypesStringList)
	Find popular #listOfStringToSentence($unitTypesStringList) for sale in ${locality.label} at attractive rates.
#end

#if($locality.projectStatusCount)
	#projectByStatus($locality)
#end
#localityAvgRatingWithHighestAmenityRating($locality)
#localityProjectDescWithLowestAndHighestPrice($locality)
