#parse("./localitytemplate/utilityFunctions.vm")
 In ${locality.suburb.city.label}, ${locality.label}  is one of the popular localities in suburb ${locality.suburb.label}. 	
 #if($nearByLocalities)
	#set($nearByLocalityNameList = [])
	#foreach($nearLocality in $nearByLocalities)
		#set($temp = $nearByLocalityNameList.add($nearLocality.label))
	#end
	#if(${nearByLocalityNameList})
		#listOfStringToSentence($nearByLocalityNameList) #isOrAre($nearByLocalityNameList) located close to ${locality.label}.  
	#end
#end


#if($topBuilders)
	#populateBuilderNameList($topBuilders)
	#if($popularBuildersNameList.size() > 0)
		Top $popularBuildersCounter builders in ${locality.label}
	 	#isOrAre($popularBuildersNameList) #listOfStringToSentence($popularBuildersNameList) with better facilities & affordable prices.  	
	#end
#end


#if($popularProjects)
	#set($counter = 0)
	Some of the key projects offering properties in this locality #isOrAre($popularProjects) #projectByBuilderSentence($popularProjects). 
#end
 

#set($minSize = 0)
#set($maxSize = 0)
#set($counter = 0)
#set($lowestPricePropery = "")
#populateUnitTypeAndUnitNameList($properties)
#foreach($property in $properties)
	#if($property.size)
		#if($counter == 0)
			#set($minSize = $property.size)
			#set($maxSize = $property.size)
			#set($counter = 1)
			#set($lowestPricePropery = $property)
		#elseif($property.size  < $minSize)
			#set($minSize = $property.size)
		#elseif($property.size > $maxSize)
			#set($maxSize = $property.size)
		#end
	#end
	#if($lowestPricePropery && $lowestPricePropery.budget && $property.budget && $property.budget < $lowestPricePropery.budget)
		#set($lowestPricePropery = $property)
	#end
#end
#if($minSize > 0 && $maxSize > 0 && $maxSize > $minSize)
	 The property in ${locality.label} are build in areas ranging $numberFormatter.format($minSize) sq ft to $numberFormatter.format($maxSize) sq ft 
	with bedroom configurations of #listOfStringToSentence($unitNamesStringList). 
#end
#if($locality.avgPriceRisePercentage)
	The prices in the ${locality.label} are  
	#if($locality.avgPriceRisePercentage < 0)
		DECRASED by $locality.avgPriceRisePercentage  
	#elseif($locality.avgPriceRisePercentage > 0)
		INCREASED by $locality.avgPriceRisePercentage 
	#else
		STAYED STABLE, 
	#end
	in past ${locality.avgPriceRiseMonths} months at average price of $numberFormatter.format($locality.avgPricePerUnitArea) per SqFt with,
	$locality.avgPriceRisePercentage change in ${locality.avgPriceRiseMonths}.  
#end
#if($locality.amenityTypeCount)
	#set($schoolsList = [])
	#set($hospitalsList = [])
	 ${locality.label} has many well known schools and Hospitals. 
	#foreach( $amenity in $amenities )
		#if($amenity.localityAmenityTypes.name=="school")
			#set($temp = $schoolsList.add($amenity.name))
		#end
		#if($amenity.localityAmenityTypes.name=="hospital")
		 	#set($temp = $hospitalsList.add($amenity.name))
		#end
	#end
	#if($schoolsList)
		Some of the key schools in ${locality.label} #isOrAre($schoolsList) #listOfStringToSentence($schoolsList) 
	#end
	#if($hospitalsList)
		 and key hospitals #isOrAre($hospitalsList) #listOfStringToSentence($hospitalsList) 
	#end
	. 
#end

#if($lowestPricePropery && $lowestPricePropery.budget)
	Property starting at #makePriceUserReadable($lowestPricePropery.budget) are available in ${locality.label} on Proptiger. 
#end
#if($locality.projectStatusCount)
	#set( $upcomingProjects = ${locality.projectStatusCount.get("Pre Launch")} + ${locality.projectStatusCount.get("Not Launched")})
	 You can find 
	 #if(${locality.projectStatusCount.get("Ready for Possession")})
	 	${locality.projectStatusCount.get("Ready for Possession")} ready to move in 
	 #end
	 #if(${locality.projectStatusCount.get("Launch")})
	 	,${locality.projectStatusCount.get("Launch")} new launches
	 #end 
	 projects in ${locality.label} from different builders. 
#end
#if($locality.avgRatingsByCategory && $locality.avgRatingsByCategory.overallRating)
	${locality.label} in ${locality.suburb.city.label} 
	have an average rating of $locality.avgRatingsByCategory.overallRating 
	based on user inputs. 
#end
#if($locality.totalReviews && $locality.totalReviews > 0)
	We have $locality.totalReviews user reviews which can give you more ideas about ${locality.label}.  
#end
#if($popularProjects)
	#set($counter = 0)
	#foreach($project in $popularProjects)
		#if($project.minPricePerUnitArea && $project.maxPricePerUnitArea)
			#if($counter == 0)
				#projectDescWithLowestRate($locality.label $project) 
			#elseif($counter == 1)
				Whereas #projectDescWithHighestRate($locality.label $project)
			#end
			#set($counter = $counter + 1)
		#end
		
	#end
#end