#parse("./localitytemplate/utilityFunctions.vm")
${locality.label}, one of the popular and best place to have property in ${locality.suburb.city.label} is located in suburb ${locality.suburb.label}.  
#if($nearByLocalities)
	#set($nearByLocalityNameList = [])
	#populateNearByLocalityNames
	#if($nearByLocalityNameList && $nearByLocalityNameList.size() > 0)
		It lies near #listOfStringToSentence($nearByLocalityNameList). 
	#end
#end
#if($topBuilders)
	#populateBuilderNameList($topBuilders)
	#if($popularBuildersNameList)
		Most popular builders in ${locality.label} #isOrAre($popularBuildersNameList) #listOfStringToSentence($popularBuildersNameList).  
	#end
#end
#set($minSize = 0)
#set($maxSize = 0)
#set($counter = 0)
#populateUnitTypeAndUnitNameList($properties)
#foreach($property in $properties)
	#if($counter == 0)
		#set($minSize = $property.size)
		#set($maxSize = $property.size)
		#set($counter = 1)
	#elseif($property.size && $property.size  < $minSize)
		#set($minSize = $property.size)
	#elseif($property.size && $property.size > $maxSize)
		#set($maxSize = $property.size)
	#end
#end
There are #listOfStringToSentence($unitTypesStringList) for sale in ${locality.label}. 
#if($unitNamesStringList)
	The property for sale in ${locality.label} are available with  #listOfStringToSentence($unitNamesStringList) 
	#if($minSize > 0 && $maxSize > 0 && $maxSize > $minSize)
		 and the projects are built with an area of $numberFormatter.format($minSize) sq ft to $numberFormatter.format($maxSize) sq ft
	#end
	.  
#end
#localityPriceChangeInMonth_type1($locality)
#localityAmenityTypeDesc
#if($locality.projectStatusCount)
	#projectByStatus($locality)
#end
#if($locality.avgRatingsByCategory && $locality.avgRatingsByCategory.overallRating)
	#localityAverageRating($locality). 
#end 
#popularProjectWithUnitInfo